div.section-1 {
  background-color: white;
  width: 100%;
}

div.container-fluid {
  background-color: white;
}

div.sec-1 {
  background-color: white;
}

div.jumbotron {
  background-color: white;
}

h1.display-3 {
  font-size: 92px;
}

div.about {
  text-align: center;
  background-color: white;
}

p.lead {
  font-size: 36px;
  font-style: italic;
}

p.intro {
  font-size: 24px;
}

div.logo {
  margin-top: 35px;
}

div.sign-btn {
  margin: auto;
}

img.img-custom {
  width: 500px;
  height: 500px;
}

div.sign-window {
  margin-top: 8%;
}

div.style-header {
  background-color: #0275d8;
  color: white;
}

div.row1 {
  margin-top: 35px;
}

div.row2 {
  margin-top: 85px;
}

div.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0275d8;
  color: #0275d8;
  text-align: center;
}

body {
  background: #f5f5f5;
}

.rounded {
  border-radius: 1rem;
}

.nav-pills .nav-link {
  color: #555;
}

.nav-pills .nav-link.active {
  color: white;
}

input[type="radio"] {
  margin-right: 5px;
}

.bold {
  font-weight: bold;
}

b.title {
  font-size: 36px;
}

a.nav-link {
  font-size: 24px;
}

a.navbar-brand {
  font-size: 28px;
}
